<div class="center jumbotron">
  <h1>Welcome to the Monolog</h1>

  <h2>
    Monolog
  </h2>

  <%= link_to "登録してみる", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="card" style="width: 18rem;">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy="">Image cap</text></svg>
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h1 class="top-head__main-text">
          長期インターンの<br>
          口コミサービス
        </h1>
        <p class="top-head__sub-text mt-3">
          あなたにオススメの企業がわかる。<br>
          日本初の<br>
          長期インターン口コミ・求人サイトです。
        </p>
      </div>
      <div class="col-12 col-lg-6 mt-1 pl-2 pr-4 pr-md-2 text-right text-md-left">
        <img class="top-head__image" src="/top_images/phone_display.png" />
      </div>
    </div>
    <div class="mt-1 text-center">
      <p class="font-weight-bold mb-2">
        創業メンバーが毎月50人の学生とお話ししています。
      </p>
      <a class="btn btn-round btn-lg btn-service" href="/home/support">Zoomの相談について見てみる</a>
    </div>
  </div>
</div>

<div class="contents-section pt-5">
  <h2 class="top-section-title mt-0 mb-3">
    企業を検索
  </h2>
  <div class="top-search pt-4 pb-2">
  <form action="/offers" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="mr-0 ml-0 mb-2 top-search__modal-button-wrapper">
      <div class="row mr-0 ml-0">
        <div class="col-3 pl-0 pr-0">
          <div type="text" class="top-search__modal-button top-search__modal-button--right-border w-100" data-name="jobCategoryModalButton" data-toggle="modal" data-target="#jobCategoryModal">
            職種
          </div>
        </div>
        <div class="col-3 pl-0 pr-0">
          <div type="text" class="top-search__modal-button top-search__modal-button--right-border w-100" data-name="industryModalButton" data-toggle="modal" data-target="#industryModal">
            業界
          </div>
        </div>
        <div class="col-3 pl-0 pr-0">
          <div type="text" class="top-search__modal-button top-search__modal-button--right-border w-100" data-name="areaModalButton" data-toggle="modal" data-target="#areaModal">
            場所
          </div>
        </div>
        <div class="col-3 pl-0 pr-0">
          <div type="text" class="top-search__modal-button w-100" data-name="tagModalButton" data-toggle="modal" data-target="#tagModal">
            特徴
          </div>
        </div>
      </div>
    </div>
    