<div class="container mb-5">
  <div class="pt-3 pt-lg-5 top-head">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h1 class="top-head__main-text">
          ガジェットの<br>
          口コミサービス
          </h1>
          <p class="top-head__sub-text mt-3">
          探しているガジェットが見つかる。<br>
          ガジェットプラットフォームです。
          </p>
        </div>
        <div class="col-12 col-lg-6 mt-1 pl-2 pr-md-2 text-right text-md-left">
          <img class="top-head__image" src="/assets/mono2.png" />
        </div>
      </div>
      <div class="mt-1 text-center">
        <p class="font-weight-bold mb-2">
        種類・価格・特徴からあなたにあったガジェットを探そう
        </p>
        <a class="btn btn-round btn-lg btn-service" href="/">ガジェットを探す</a>
      </div>
    </div>
  </div>
  <div class="contents-section pt-5">
    <h2 class="top-section-title mt-0 mb-3">ガジェットを検索</h2>
    <div class="top-search pt-4 pb-2">
      <form action="/offers" accept-charset="UTF-8" method="get" >
        <input type="hidden" name="utf8" value="">
        <div class="mr-0 ml-0 mb-2 top-search__modal-button-wrapper">
          <div class="row mr-0 ml-0">
            <div class="col-3 pl-0 pr-0">
              <div type="text" class="top-search__modal-button top-search__modal-button--right-border w-100" data-name="jobCategoryModalButton" data-toggle="modal" data-target="#jobCategoryModal">
                職種
              </div>
            </div>
            <div class="col-3 pl-0 pr-0">
              <div type="text" class="top-search__modal-button top-search__modal-button--right-border w-100" data-name="industryModalButton" data-toggle="modal" data-target="#industryModal">
                業界
              </div>
            </div>
            <div class="col-3 pl-0 pr-0">
              <div type="text" class="top-search__modal-button top-search__modal-button--right-border w-100" data-name="areaModalButton" data-toggle="modal" data-target="#areaModal">
                場所
              </div>
            </div>
            <div class="col-3 pl-0 pr-0">
              <div type="text" class="top-search__modal-button w-100" data-name="tagModalButton" data-toggle="modal" data-target="#tagModal">
                特徴
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-4 mr-0 ml-0 mt-3">
          <div class="col-9 col-sm-10 pr-0 pl-0">
            <input class="form-control top-search__text-field-form" placeholder=" 気になる企業名を検索！" data-name="companyNameField" type="text" name="company_name" id="company_name" />
          </div>

          <div class="col-3 col-sm-2 pl-0 pr-0">
            <button type="button" class="btn btn-service top-search__search-button w-100 h-100" data-name="companySearchSubmit">検索</button>
          </div>
        </div>
    </div>
  </div>
  <div class="contents-section">
    <h2 class="top-section-title mb-4">分類で探す</h2> 
    <div class="pt-2 x-scrolling">
      <div class="row mr-0 ml-0 top-job-category-cards-container">
        <div class="col-3 col-2_4">
          <a href="#">
            <div class="card top-job-category-card top-job-category-card--hignlight text-center pl-1 pr-1 pt-3 pb-3 mb-2">
            オーディオ機器全般
            </div>
          </a>
        </div>
        <div class="col-3 col-2_4">
          <a href="#">
            <div class="card top-job-category-card text-center pl-1 pr-1 pt-3 pb-3 mb-2">
              ヘッドフォン
            </div>
          </a>
        </div>
        <div class="col-3 col-2_4">
          <a href="#">
            <div class="card top-job-category-card text-center pl-1 pr-1 pt-3 pb-3 mb-2">
              イヤホン
            </div>
          </a>
        </div>
        <div class="col-3 col-2_4">
          <a href="#">
            <div class="card top-job-category-card text-center pl-1 pr-1 pt-3 pb-3 mb-2">
              充電器
            </div>
          </a>
        </div>
        <div class="col-3 col-2_4">
          <a href="#">
            <div class="card top-job-category-card text-center pl-1 pr-1 pt-3 pb-3 mb-2">
              モバイルバッテリー
            </div>
          </a>
        </div>
        <div class="col-3 col-2_4">
          <a href="#">
            <div class="card top-job-category-card text-center pl-1 pr-1 pt-3 pb-3 mb-2">
              PC周辺機器
            </div>
          </a>
        </div>
        <div class="col-3 col-2_4">
          <a href="#">
            <div class="card top-job-category-card text-center pl-1 pr-1 pt-3 pb-3 mb-2">
              タブレット
            </div>
          </a>
        </div>
        <div class="col-3 col-2_4">
          <a href="#">
            <div class="card top-job-category-card text-center pl-1 pr-1 pt-3 pb-3 mb-2">
              IoT機器
            </div>
          </a>
        </div>
        <div class="col-3 col-2_4">
          <a href="#">
            <div class="card top-job-category-card text-center pl-1 pr-1 pt-3 pb-3 mb-2">
              スピーカー
            </div>
          </a>
        </div>
        <div class="col-3 col-2_4">
          <a href="#">
            <div class="card top-job-category-card text-center pl-1 pr-1 pt-3 pb-3 mb-2">
              日用デバイス
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="contents-section">
    <h2 class="top-section-title mb-3">総合ランキング</h2>
    <div class="text-right">
      <a href="#">ランキングへ<i class="fas fa-chevron-right ml-1"></i></a>
    </div>
    <div class="row x-scrolling pt-2">
      <div class="col-top-gadget-index-card">
        <div class="card top-gadget-index-card">
          <a href="#">
            <div class="top-gadget-index-card__ranking top-gadget-index-card__ranking--1">1位</div>
            <div class="text-center mt-2 top-gadget-index-card__logo-wrapper">
              <img src="#" alt="rank1">
            </div>
            <div class="top-gadget-index-card__name mt-2">
              Anker soundcore Pro
            </div>
            <div class="d-flex mt-1 mb-2">
              <div class="star-rating top-gadget-ranking-star-rating">
                <div class="star-rating__star-wrapper top-gadget-ranking-star-rating__star-wrapper">
                  <div class="star-rating__frontf" style="width: 98.0%">★★★★★</div>
                  <div class="star-rating__back">★★★★★</div>
                </div>
                <div class="top-gadget-ranking-star-rating__score-num ml-1">4.9</div>
                <div class="top-gadget-ranking-star-rating__count">
                  (全7件)
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-top-gadget-index-card">
        <div class="card top-gadget-index-card">
          <a href="#">
            <div class="top-gadget-index-card__ranking top-gadget-index-card__ranking--1">1位</div>
            <div class="text-center mt-2 top-gadget-index-card__logo-wrapper">
              <img src="#" alt="rank1">
            </div>
            <div class="top-gadget-index-card__name mt-2">
              Anker soundcore Pro
            </div>
            <div class="d-flex mt-1 mb-2">
              <div class="star-rating top-gadget-ranking-star-rating">
                <div class="star-rating__star-wrapper top-gadget-ranking-star-rating__star-wrapper">
                  <div class="star-rating__frontf" style="width: 98.0%">★★★★★</div>
                  <div class="star-rating__back">★★★★★</div>
                </div>
                <div class="top-gadget-ranking-star-rating__score-num ml-1">4.9</div>
                <div class="top-gadget-ranking-star-rating__count">
                  (全7件)
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-top-gadget-index-card">
        <div class="card top-gadget-index-card">
          <a href="#">
            <div class="top-gadget-index-card__ranking top-gadget-index-card__ranking--1">1位</div>
            <div class="text-center mt-2 top-gadget-index-card__logo-wrapper">
              <img src="#" alt="rank1">
            </div>
            <div class="top-gadget-index-card__name mt-2">
              Anker soundcore Pro
            </div>
            <div class="d-flex mt-1 mb-2">
              <div class="star-rating top-gadget-ranking-star-rating">
                <div class="star-rating__star-wrapper top-gadget-ranking-star-rating__star-wrapper">
                  <div class="star-rating__frontf" style="width: 98.0%">★★★★★</div>
                  <div class="star-rating__back">★★★★★</div>
                </div>
                <div class="top-gadget-ranking-star-rating__score-num ml-1">4.9</div>
                <div class="top-gadget-ranking-star-rating__count">
                  (全7件)
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-top-gadget-index-card">
        <div class="card top-gadget-index-card">
          <a href="#">
            <div class="top-gadget-index-card__ranking top-gadget-index-card__ranking--1">1位</div>
            <div class="text-center mt-2 top-gadget-index-card__logo-wrapper">
              <img src="#" alt="rank1">
            </div>
            <div class="top-gadget-index-card__name mt-2">
              Anker soundcore Pro
            </div>
            <div class="d-flex mt-1 mb-2">
              <div class="star-rating top-gadget-ranking-star-rating">
                <div class="star-rating__star-wrapper top-gadget-ranking-star-rating__star-wrapper">
                  <div class="star-rating__frontf" style="width: 98.0%">★★★★★</div>
                  <div class="star-rating__back">★★★★★</div>
                </div>
                <div class="top-gadget-ranking-star-rating__score-num ml-1">4.9</div>
                <div class="top-gadget-ranking-star-rating__count">
                  (全7件)
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-top-gadget-index-card">
        <div class="card top-gadget-index-card">
          <a href="#">
            <div class="top-gadget-index-card__ranking top-gadget-index-card__ranking--1">1位</div>
            <div class="text-center mt-2 top-gadget-index-card__logo-wrapper">
              <img src="#" alt="rank1">
            </div>
            <div class="top-gadget-index-card__name mt-2">
              Anker soundcore Pro
            </div>
            <div class="d-flex mt-1 mb-2">
              <div class="star-rating top-gadget-ranking-star-rating">
                <div class="star-rating__star-wrapper top-gadget-ranking-star-rating__star-wrapper">
                  <div class="star-rating__frontf" style="width: 98.0%">★★★★★</div>
                  <div class="star-rating__back">★★★★★</div>
                </div>
                <div class="top-gadget-ranking-star-rating__score-num ml-1">4.9</div>
                <div class="top-gadget-ranking-star-rating__count">
                  (全7件)
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-top-gadget-index-card">
        <div class="card top-gadget-index-card">
          <a href="#">
            <div class="top-gadget-index-card__ranking top-gadget-index-card__ranking--1">1位</div>
            <div class="text-center mt-2 top-gadget-index-card__logo-wrapper">
              <img src="#" alt="rank1">
            </div>
            <div class="top-gadget-index-card__name mt-2">
              Anker soundcore Pro
            </div>
            <div class="d-flex mt-1 mb-2">
              <div class="star-rating top-gadget-ranking-star-rating">
                <div class="star-rating__star-wrapper top-gadget-ranking-star-rating__star-wrapper">
                  <div class="star-rating__frontf" style="width: 98.0%">★★★★★</div>
                  <div class="star-rating__back">★★★★★</div>
                </div>
                <div class="top-gadget-ranking-star-rating__score-num ml-1">4.9</div>
                <div class="top-gadget-ranking-star-rating__count">
                  (全7件)
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-top-gadget-index-card">
        <div class="card top-gadget-index-card">
          <a href="#">
            <div class="top-gadget-index-card__ranking top-gadget-index-card__ranking--1">1位</div>
            <div class="text-center mt-2 top-gadget-index-card__logo-wrapper">
              <img src="#" alt="rank1">
            </div>
            <div class="top-gadget-index-card__name mt-2">
              Anker soundcore Pro
            </div>
            <div class="d-flex mt-1 mb-2">
              <div class="star-rating top-gadget-ranking-star-rating">
                <div class="star-rating__star-wrapper top-gadget-ranking-star-rating__star-wrapper">
                  <div class="star-rating__frontf" style="width: 98.0%">★★★★★</div>
                  <div class="star-rating__back">★★★★★</div>
                </div>
                <div class="top-gadget-ranking-star-rating__score-num ml-1">4.9</div>
                <div class="top-gadget-ranking-star-rating__count">
                  (全7件)
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="top-offers pb-5"></div>
  <div class="row"></div>
</div>
