<div class="container mb-5">
  <div class="pt-3 pt-lg-5 top-head">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h1 class="top-head__main-text">
          ガジェットの<br>
          口コミサービス
          </h1>
          <p class="top-head__sub-text mt-3">
          探しているガジェットが見つかる。<br>
          ガジェットプラットフォームです。
          </p>
        </div>
        <div class="col-12 col-lg-6 mt-1 pl-2 pr-md-2 text-right text-md-left">
          <img class="top-head__image" src="/app/assets/images/mono.jpg" />
        </div>
      </div>
      <div class="mt-1 text-center">
        <p class="font-weight-bold mb-2">
        種類・価格・特徴からあなたにあったガジェットを探そう
        </p>
        <a class="btn btn-round btn-lg btn-service" href="/">ガジェットを探す</a>
      </div>
    </div>
  </div>
  <div class="contents-section pt-5"></div>
  <div class="contents-section pt-5"></div>
  <div class="contents-section pt-5"></div>
  <div class="top-offers pb-5"></div>
  <div class="row"></div>
</div>
