<div class="container mt-5">
  <h1 class="page-title mb-4"><%= @title %></h1>
  <ul class="user-follow">
    <% @users.each do |user| %>
      <li>
        <%= link_to user.username, user_path(user) %>
        <%= render 'follow_form' %>
      </li>
    <% end %>
    <%= will_paginate %>
  </ul>
</div>
