@import "~bootstrap/scss/bootstrap";
@import "./bootstrap_custom.scss";

/* alert */
.alert {
	margin-bottom: 0;
}
/* header */
.navbar {
	border: 0;
	box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.5);
	padding: 0;
	z-index: 10;
}

.navbar-nav {
	a:hover {
		color: #66615b;
	}
	.nav-link {
		line-height: 1.6;
		margin: 15px 3px;
		padding: 10px 15px;
		opacity: 0.8;
		font-size: 18px;
		font-weight: 600;
		color: #66615b;
	}
}

.navbar_logo {
	width: 200px;
}

.btn-group {
	.dropdown-menu {
		padding: 0;
		margin: 0;
	}
}

.page-title {
	font-size: 28px;
	font-weight: bold;
	margin-top: 12px;
}
.btn {
	box-sizing: border-box;
	color: #fff;
	border-width: 2px;
	font-size: 12px;
	font-weight: 600;
	padding: 0.5rem 18px;
	line-height: 1.75;
	opacity: 1;
	transition: all 150ms linear;
	&:hover {
		opacity: 0.8;
		color: white;
	}
}

.btn-lg {
	font-size: 14px;
	padding: 11px 30px;
}

/* top-page*/
.top-head {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(39, 194, 203, 1) 100%
	);
	.top-head__main-text {
		color: black;
		font-size: 50px;
		font-weight: bold;
	}
	.top-head__sub-text {
		font-size: 22px;
		font-weight: 600;
	}
	.top-head__image {
		width: 100%;
	}
}

.top-section-title {
	position: relative;
	font-size: 26px;
	color: #47a1eb;
	text-align: center;
	font-weight: 600;
	&::after {
		content: "";
		width: 65px;
		height: 5px;
		position: absolute;
		background: #47a1eb;
		top: 40px;
		left: 50%;
		margin-left: -30px;
	}
}

/*search top-page*/
.contents-section {
	margin-bottom: 60px;
}

.top-search {
	margin: 0 auto;
	.top-search__modal-button-wrapper {
		border: 3px solid #47a1eb;
		.top-search__modal-button--right-border {
			border-right: 3px solid #47a1eb;
		}
		.top-search__modal-button {
			text-align: center;
			color: #47a1eb;
			font-size: 16px;
			padding: 7px 12px;
			line-height: 30px;
			display: block;
			font-weight: 400;
			cursor: pointer;
			white-space: normal;
			overflow: hidden;
			text-overflow: ellipsis;
			background: white;
		}
	}
	.top-search__text-field-form {
		height: 48px;
		border: 3px solid #47a1eb;
		border-radius: 0;
		color: #47a1eb;
	}
	.top-search__search-button {
		border-radius: 0;
		margin-top: 0;
		font-size: 15px;
		&:hover {
			opacity: 0.8;
			color: white;
		}
	}
}
/* search-category-part */
.x-scrolling {
	overflow-x: scroll;
	flex-wrap: nowrap;
	.col-2_4 {
		position: relative;
		width: 100%;
		padding-right: 10px;
		padding-left: 10px;
		flex: 0 0 20%;
		max-width: 20%;
		a {
			text-decoration: none;
			color: #51bcda;
			.top-job-category-card--highlight {
				color: #47a1eb;
			}
			.top-job-category-card {
				border-radius: 0;
				font-weight: 500;
			}
		}
	}
}

.card {
	border-radius: 12px;
	box-shadow: 0px 5px 10px -5px #999;
	background-color: #fff;
	color: #333;
	margin-bottom: 20px;
	position: relative;
	z-index: 1;
	border: 0 none;
	transition: all 300ms ease 0s;
	&:hover {
		box-shadow: 0px 10px 15px -3px #999;
		transform: translateY(-12px);
	}
	img {
		max-width: 100%;
		height: auto;
	}
}

/* top-ranking-in home page */
.col-top-gadget-index-card {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	flex: 0 0 23%;
	max-width: 23%;
	.top-gadget-index-card {
		border-radius: 0;
		padding-left: 0;
		border: 1px solid #e2e2e2;
		word-wrap: normal;
		a {
			color: #444;
			.top-gadget-index-card__ranking--1 {
				background: linear-gradient(to bottom, #f87c7c 90%, white);
			}
			.top-gadget-index-card__ranking {
				line-height: 28px;
				text-align: center;
				vertical-align: middle;
				font-size: 15px;
				color: white;
				font-weight: bold;
			}
			.top-gadget-index-card__logo-wrapper {
				line-height: 90px;
				.top-gadget-index-card__logo {
					width: 40%;
					border-radius: 0 !important;
				}
			}
			.top-gadget-index-card__name {
				width: 90%;
				margin: 0 auto;
				color: #675242;
				text-align: center;
				font-size: 15px;
				font-weight: 500;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

/* lgoin */
.btn-service {
	background: linear-gradient(
		90deg,
		rgba(9, 9, 167, 1) 3%,
		rgba(0, 212, 255, 1) 100%
	);
	border: none;
	color: #fff;
	box-shadow: 2px 2px 4px -2px #8b8b8b;
	margin-top: -1px;
	margin-bottom: -1px;
}

.btn-round {
	border-radius: 30px;
}

.form-check {
	padding-left: 0;
	margin-bottom: 0.5rem;
}

@media (min-width: 1200px) {
	.top-head {
		.container {
			max-width: 1030px;
		}
	}
	.navbar {
		.container {
			max-width: 1030px;
		}
	}
}

@media (min-width: 992px) {
	.top-search {
		width: 80%;
	}
}

@media (min-width: 576px) {
	.user-login_container {
		width: 65%;
		margin: 0 auto;
	}
}
