@import "~bootstrap/scss/bootstrap";
@import "./bootstrap_custom.scss";

/* header */

.navbar {
	.navbar-nav {
		a:hover {
			color: #66615b;
		}
		.nav-link {
			line-height: 1.6;
			margin: 15px 3px;
			padding: 10px 15px;
			opacity: 0.8;
			font-size: 18px;
			font-weight: 600;
			color: #66615b;
		}
	}
}
.navbar_logo {
	width: 200px;
}

.btn-group {
	.dropdown-menu {
		padding: 0;
		margin: 0;
	}
}

.page-title {
	font-size: 28px;
	font-weight: bold;
	margin-top: 12px;
}
.btn {
	box-sizing: border-box;
	color: #fff;
	border-width: 2px;
	font-size: 12px;
	font-weight: 600;
	padding: 0.5rem 18px;
	line-height: 1.75;
	opacity: 1;
	transition: all 150ms linear;
}
/* lgoin */
.btn-service {
	background: linear-gradient(
		90deg,
		rgba(9, 9, 167, 1) 3%,
		rgba(0, 212, 255, 1) 100%
	);
	border: none;
	color: #fff;
	box-shadow: 2px 2px 4px -2px #8b8b8b;
	margin-top: -1px;
	margin-bottom: -1px;
}

.btn-round {
	border-radius: 30px;
}

.form-check {
	padding-left: 0;
	margin-bottom: 0.5rem;
}

@media (min-width: 1200px) {
	.navbar {
		.container {
			max-width: 1030px;
		}
	}
}
@media (min-width: 576px) {
	.user-login_container {
		width: 65%;
		margin: 0 auto;
	}
}
