<div class="container mt-4">
    <div class="item_feed">
      <div class="row">
        <div class="col-12 col-lg-9">
          <div class="d-none d-md-block">
            <% @items.each do |item| %>
              <div class="no-transition item_index_card mb-5">
                <%= render 'item', item: item %>
                <div class="item_card_show text-right">
                  <%= link_to "詳細を見る", "/items/#{item.id}" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="d-none d-lg-block col-lg-3 pr-lg-0">
          <div class="side-bar-group">
            <div class="d-flex mb-2">
              <div class="side-bar-group-title">
                種類で探す
              </div>
            </div>
          </div>
          <div class="side-bar-group"></div>
        </div>
      </div>
    </div>
</div>
