<div class="container mt-4">
  <div class="item_box" id="item_<%= @item.id %>">
    <div class="no-transition item_index_card mb-5">
      <%= render @item, item: @item %>
    </div>
  </div>
  <!--口コミ一覧-->
  <%= render 'reviews/reviews', reviews: @reviews, user: @user %>
  <!--口コミ投稿フォーム-->
  <%= render 'reviews/new_review', review: @review, item: @item %>

</div>
