<div class="container mt-4">
  <div class="item_box" id="item_<%= @item.id %>">
    <div class="no-transition item_index_card mb-5">
      <%= render @item, item: @item %>
    </div>
  </div>
  <%= link_to "口コミを投稿する", root_path %>

  <div class="review-feed">
    <div class="review-content">
    </div>
  </div>
</div>
