<% if current_user.liked_by?(micropost.id) %>
  <td>
    <%= link_to destroy_like_path(micropost), class: "like-link",method: :delete, remote: true do %>
      <i class="fa fa-heart unlike-btn"></i>
    <% end %>
    <%= micropost.likes.count %>
  </td>
<% else %>
  <td>
    <%= link_to create_like_path(micropost), class: "like-link", method: :post, remote: true do %>
      <i class="fa fa-heart like-btn"></i>
    <% end %>
    <%= micropost.likes.count %>
  </td>
<% end %>
