<div class="container mt-4">
    <% @feed_items.each do |micropost| %>
      <div class="feed-box row pr-4" id= "micropost_<%= micropost.id %>">
        <%= render 'micropost', micropost: micropost %>
      </div>
    <% end %>
    <div class="actions micropost-form-button">
      <div class="btn btn-round btn-service rounded-pill w-100 h-100">
        <%= link_to 'つぶやく',new_micropost_path, {class:"text-white"} %>
      </div>
    </div>
    <%= will_paginate @feed_items, previous_label: '&lt 前へ', next_label: '次へ &gt' %>
</div>
